body,
html {
    padding: 0;
    margin: 0;
    div {
        width: 100%;
        display: flex;
        div {
            flex: 1;
            border: 1px solid black;
            height: 100%;
        }
    }
    #dynamisch div:first-child,
    #dynamisch div:last-child {
        flex-basis: 200px;
    }
     :not( #dynamisch *:first-child, #dynamisch *:last-child) {
        flex-grow: 1;
    }
    #mindest {
        div :first {
            flex-shrink: 0;
        }
    }
}